* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #dcdcdc;
}

.login-box {
    border: solid 0px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
    margin-left: 700px;
    margin-right: 700px;
    height: 400px;
    padding: 20px;
    background-color: #fffafa;
}

img {
    width: 100px;
    height: 100px;
}

.typography {
    display: block;
}

form {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

label {
    padding-top: 20px;
    padding-bottom: 8px;
}

button {
    margin-top: 20px;
    padding: 5px;
}

input {
    height: 20px;
}
